/* IMPORT _VARS.SCSS */
/* _VARS */
:root {
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --text-dark: #1D1D1F;
  --title-primary-color: #F5F5F7;
  --subtitle-color: #6E6E73;
  --action-color: #2997FF;
  --navy-blue-color: #0071e3;
  --spirited-main-color: #DED2B9;
  --solitude-color: #f5f5f7;
}

/* IMPORT _BODY.SCSS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

/* IMPORT _HEADER.SCSS */
/* _HEADER-CTN */
#header-ctn {
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
}

/* HEADER - NAV */
#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 45px;
  background-color: var(--text-dark);
}
#header-nav ul {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
#header-nav ul li {
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: small;
  transition: all 180ms ease-in-out;
}
#header-nav ul li a {
  text-decoration: none;
  color: var(--text-light);
}
#header-nav ul li:hover {
  transform: scale(1.1);
}
#header-nav .hide-icon {
  display: none;
}
#header-nav .open-menu {
  display: flex;
  gap: 0.45rem;
}
#header-nav .open-menu li {
  margin: 0.55rem auto;
}

/*  */
#hide-menu-links {
  border: none;
  background: none;
}

/* HEADER - MENU*/
#header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#header-menu #logo, #header-menu #search, #header-menu #cart, #header-menu #show-menu-links {
  display: block;
}
#header-menu #logo span {
  margin: 55px;
}
#header-menu button {
  border: none;
  background: none;
}

/* _BOTTOM-HEADER */
#bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 0.75rem;
  gap: 8px;
}
#bottom-header h2 {
  font-size: 0.85rem;
  color: var(--text-dark);
}

/* _BOTTOM-HEADER-LINKS */
#bottom-header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#bottom-header-links a {
  color: var(--text-dark);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 180ms ease-in-out;
  color: var(--subtitle-color);
}
#bottom-header-links a:hover {
  transform: scale(1.03);
  text-decoration: underline;
}

#btn-buy-product {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--navy-blue-color);
  color: var(--text-light);
  transition: all 180ms ease-in-out;
  cursor: pointer;
}
#btn-buy-product:hover {
  transform: scale(1.03);
}

/* IMPORT _MAIN.SCSS */
/* _MAIN-CTN */
#main-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-icon {
  width: 100%;
  height: 100%;
  color: var(--subtitle-color);
  opacity: 0.8;
}

/* IMPORT _iPHONE-SECTION.SCSS */
/* _iPHONE-SECTION */
#iphone-section {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
#iphone-section #text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#iphone-section #text-wrapper h4 {
  font-size: 1.75rem;
  color: var(--text-dark);
}
#iphone-section #text-wrapper p {
  width: 286px;
  text-align: center;
  margin: 0 20px 0;
  padding: 2% 0;
  font-weight: 410;
  color: var(--subtitle-color);
}

/* IMPORT _SEC-PRODUCT-IMG.SCSS */
/* SELECT_MODEL_IPHONE */
#sec-product-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 10px 0 0 0;
  background-color: var(--solitude-color);
}
#sec-product-img .arrow {
  width: 25px;
  height: 25px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: all 180ms ease-in-out;
}
#sec-product-img .arrow:hover {
  transform: scale(1.1);
}

/* SIZE-IMAGE-PRODUCT */
#size-img-product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
}

#img-product {
  height: 75%;
  transition: 0.5s;
}

.changing {
  animation: imgProductFade 1s ease-in;
}

@keyframes imgProductFade {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
/* IMPORT _TABLIST */
/* IMPORT MIXINS */
/* MIXIN _PADDING-CONTENT-BOX */
/* MIXIN _TITLE-DESCRIPTIONS (STYLES) */
/* _TABLIST */
#img-picker-order {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--solitude-color);
}
#img-picker-order ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 3px;
}

/* BUTTON-PICKER */
.btn-img-picker {
  width: 16px;
  height: 16px;
  background-color: var(--subtitle-color);
  border: 1px solid var(--solitude-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms ease-in-out;
}

.selected {
  background-color: var(--text-dark);
  border: 1px solid var(--text-dark);
  opacity: 0.8;
}

/* IMPORT _SECTION-MODELS.SCSS */
/* IMPORT MIXINS */
/* MIXIN _PADDING-CONTENT-BOX */
/* MIXIN _TITLE-DESCRIPTIONS (STYLES) */
/* _SECTION-MODELS */
#sec-models {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Set styles padding in Box */
  padding: 35px 50px 0 50px;
  gap: 10px;
}
#sec-models ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
#sec-models ul li {
  width: 314px;
}

/* TITLE-DESCRIPTION-MODEL */
#title-desc-model {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Set styles in Title and Description */
}
#title-desc-model h4 {
  font-size: 2rem;
  color: var(--text-dark);
}
#title-desc-model p {
  font-weight: 410;
  color: var(--subtitle-color);
}

/* INPUT-MODEL-PICKER */
.inp-model-picker {
  display: none;
  width: 100%;
  height: 100%;
}

/* INPUT-MODEL-PICKER AND LABEL */
.inp-model-picker + label {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 16px;
  background-color: var(--solitude-color);
  border: 1px solid var(--subtitle-color);
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.inp-model-picker + label:hover {
  transform: scale(1.01);
}

/* INPUT-MODEL-PICKER (CHECKED) AND LABEL */
.inp-model-picker:checked + label {
  box-shadow: 0px -1px 5px var(--action-color);
}

/* MODEL-DESCRIPTION */
.model-desc {
  display: flex;
  flex-direction: column;
}
.model-desc h1 {
  font-size: 1rem;
  color: var(--text-dark);
}
.model-desc p {
  font-size: 0.9rem;
  color: var(--subtitle-color);
  font-weight: 410;
}

/* MODEL-PRICE */
.model-price {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
}
.model-price p {
  font-size: 0.8rem;
  color: var(--subtitle-color);
  font-weight: 410;
}

/* IMPORT _SECTION-COLORS.SCSS */
/* IMPORT MIXINS */
/* MIXIN _PADDING-CONTENT-BOX */
/* MIXIN _TITLE-DESCRIPTIONS (STYLES) */
/* _SECTION-COLORS */
#sec-colors {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Set styles padding in Box */
  padding: 35px 50px 0 50px;
  gap: 10px;
  /* Set styles in Title and Description */
}
#sec-colors h4 {
  font-size: 2rem;
  color: var(--text-dark);
}
#sec-colors p {
  font-weight: 410;
  color: var(--subtitle-color);
}

/* _MODEL-COLORS-PICKER */
#model-colors-picker {
  height: -moz-fit-content;
  height: fit-content;
}
#model-colors-picker ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
#model-colors-picker ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

/* INPUT-COLOR-PICKER */
.inp-color-picker {
  display: none;
  width: 100%;
  height: 100%;
}

/* INPUT-COLOR-PICKER + LABEL-COLOR */
.inp-color-picker + label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 1px #ccc;
  transition: 200ms ease-in-out;
}
.inp-color-picker + label:hover {
  transform: scale(1.1);
}

/* INPUT-COLOR-PICKED + LABEL (BLACK-COLOR) */
.inp-color-picker + label[for=black-color] {
  background-color: #3D3D3D;
}

/* INPUT-COLOR-PICKED + LABEL (WHITE-COLOR) */
.inp-color-picker + label[for=white-color] {
  background-color: #D6D5D0;
}

/* INPUT-COLOR-PICKED + LABEL (BLUE-COLOR) */
.inp-color-picker + label[for=blue-color] {
  background-color: #263448;
}

/* INPUT-COLOR-PICKED + LABEL (GRAY-COLOR) */
.inp-color-picker + label[for=gray-color] {
  background-color: #A39F94;
}

/* INPUT-COLOR-PICKER (CHECKED) + LABEL */
.inp-color-picker:checked + label {
  box-shadow: 0px -1px 5px var(--action-color);
}

/* IMPORT _SECTION-SPECS.SCSS */
/* _SECTION-SPECS */
#sec-specs {
  display: flex;
  flex-direction: column;
  padding: 70px 50px 0 50px;
  text-align: center;
}
#sec-specs h2, #sec-specs h3, #sec-specs h5, #sec-specs h1 {
  color: var(--text-dark);
}
#sec-specs p {
  font-weight: 410;
  color: var(--subtitle-color);
}

/* UL-LIST-SPECS */
#ul-specs-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  padding-top: 10px;
}
#ul-specs-list li {
  margin: 10px;
}

#ul-specs-list:last-child {
  padding-bottom: 20px;
}

/* IMPORT _RESPONSIVE.SCSS */
/* Mobile (400px) and Tablet (600px) */
/* @media screen and (min-width: 320px) and (max-width: 480px){

} */
/* @media (max-width: 600px){
    #header-ctn{
        #search{
            margin-left: 180px;
        }
    }
} *//*# sourceMappingURL=style.css.map */