/* IMPORT _VARS.SCSS */
/* _VARS */
:root {
  --bg-primary: #000000;
  --text-light: #FFFFFF;
  --text-dark: #1D1D1F;
  --title-primary-color: #F5F5F7;
  --subtitle-color: #6E6E73;
  --action-color: #2997FF;
  --navy-blue-color: #0071e3;
  --spirited-main-color: #DED2B9;
  --solitude-color: #f5f5f7;
}

/* IMPORT _BODY.SCSS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* _BODY */
body {
  min-height: 100vh;
}

/* IMPORT _HEADER.SCSS */
/* _HEADER-CTN */
#header-ctn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  top: 0;
  position: sticky;
  width: 100%;
  height: 100px;
  opacity: 0.9;
}
#header-ctn nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: var(--bg-primary);
}
#header-ctn nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 1rem;
  list-style: none;
}
#header-ctn nav ul li {
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: small;
  padding: 0 0.75rem;
  transition: all 180ms ease-in-out;
}
#header-ctn nav ul li:hover {
  transform: scale(1.1);
}
#header-ctn nav ul li a {
  color: var(--text-light);
  text-decoration: none;
}

/* _BOTTOM-HEADER */
#bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 10px;
}
#bottom-header h2 {
  font-size: 1rem;
  color: var(--text-dark);
}

/* _BOTTOM-HEADER-LINKS */
#bottom-header-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
#bottom-header-links a {
  display: inline-block;
  margin-right: 5px;
  color: var(--text-dark);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 180ms ease-in-out;
  color: var(--subtitle-color);
}
#bottom-header-links a:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
#bottom-header-links button {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--navy-blue-color);
  color: var(--text-light);
  transition: all 180ms ease-in-out;
}
#bottom-header-links button:hover {
  transform: scale(1.1);
}

/* IMPORT _MAIN.SCSS */
/* _MAIN-CTN */
#main-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* IMPORT _iPHONE-SECTION.SCSS */
/* _iPHONE-SECTION */
#iphone-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#iphone-section #text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#iphone-section #text-wrapper h4 {
  font-size: 2rem;
  color: var(--text-dark);
}
#iphone-section #text-wrapper p {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-weight: 410;
  color: var(--subtitle-color);
}

/* SELECT_MODEL_IPHONE */
#select-model-iphone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 10px 0 0 0;
  background-color: var(--solitude-color);
}
#select-model-iphone img {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
#select-model-iphone .arrow {
  width: 40px;
  height: 40px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: all 180ms ease-in-out;
}
#select-model-iphone .arrow:hover {
  transform: scale(1.1);
}

/* ARROWS ION-ICON */
ion-icon {
  width: 100%;
  height: 100%;
  color: var(--subtitle-color);
}

/* _TABLIST */
#tablist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--solitude-color);
}
#tablist ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 3px;
}
#tablist ul button {
  width: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#tablist ul button ion-icon {
  width: 16px;
  height: 16px;
  color: var(--subtitle-color);
  opacity: 0.8;
}
#tablist ul button .selected {
  color: var(--text-dark);
}

/* _SECTION-MODELS */
#sec-models {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 35px 50px 0 50px;
  gap: 10px;
}
#sec-models h4 {
  font-size: 2rem;
  color: var(--text-dark);
}
#sec-models p {
  font-weight: 410;
  color: var(--subtitle-color);
}

/* MODEL-TYPE */
.model-type {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px 0px 5px 0px;
  gap: 16px;
  background-color: var(--solitude-color);
  border: 1px solid var(--navy-blue-color);
  border-radius: 12px;
  cursor: pointer;
  transition: all 180ms ease-in-out;
}
.model-type:hover {
  transform: scale(1.05);
}

/* MODEL-DESCRIPTION */
.model-desc {
  display: flex;
  flex-direction: column;
}
.model-desc h1 {
  font-size: 1rem;
}
.model-desc p {
  font-size: 0.9rem;
}

/* MODEL-PRICE */
.model-price {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
}
.model-price p {
  font-size: 0.8rem;
}

/* IMPORT _RESPONSIVE.SCSS */
/* Mobile */
@media (max-width: 400px) {
  #header-ctn nav ul li {
    display: none;
  }
  #header-ctn #search {
    margin-left: 180px;
  }
  #header-ctn #logo, #header-ctn #search, #header-ctn #cart {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */