
/* _HEADER-CTN */
#header-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;

    top: 0;

    height: fit-content;
}

/* HEADER - NAV */
#header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 45px;

    background-color: var(--text-dark);

    ul{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 0.75rem;

        list-style: none;

        li{
            min-width: fit-content;
            height: fit-content;

            font-size: small;      

            transition: all 180ms ease-in-out;

            a{
                text-decoration: none;
                color: var(--text-light);
            }

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .hide-icon{
        display: none;
    }
    .open-menu{
        display: flex;

        gap: 0.45rem;

        li{
            margin: 0.55rem auto;
        }
    }
}

/*  */
#hide-menu-links{
    border: none;
    background: none;
}

/* HEADER - MENU*/
#header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    
    width: 100%;

    gap: 2rem;

    #logo, #search, #cart, #show-menu-links{
        display: block;

        margin: auto 20px;
    }
    
    #logo{
        display: flex;
        align-items: center;

        position: relative;
    }

    #header-menu-btn{
        display: flex;
    }

    button{
        border: none;
        background: none;
    }
}

/* _BOTTOM-HEADER */
#bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50%;

    padding: 0.75rem;

    gap: 8px;

    h2{
        font-size: 0.85rem;

        color: var(--text-dark);
    }
}

/* _BOTTOM-HEADER-LINKS */
#bottom-header-links{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    
    a{
        color: var(--text-dark);
        
        font-size: 0.9rem;

        text-decoration: none;

        transition: all 180ms ease-in-out;

        color: var(--subtitle-color);

        &:hover{
            transform: scale(1.03);

            text-decoration: underline;
        }
    }
}

#btn-buy-product{

    width: 80px;
    height: 25px;

    border: none;
    border-radius: 10px;

    background-color: var(--navy-blue-color);

    color: var(--text-light);

    transition: all 180ms ease-in-out;

    cursor: pointer;

    &:hover{
        transform: scale(1.03);
    }
}