
/* _iPHONE-SECTION */
#iphone-section{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    margin-top: 22px;

    #text-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h4{
            font-size: 1.75rem;

            color: var(--text-dark);
        }

        p{  
            text-align: center;

            margin: 0 20px 0;
            padding: 2% 0;

            font-weight: 410;

            color: var(--subtitle-color);
        }
    }
}