
/* MIXIN _TITLE-DESCRIPTION-STYLE */
@mixin titleDescSty{

    padding: 35px 50px 0 50px;
    
    gap: 10px;

    h4{
        font-size: 2rem;

        color: var(--text-dark);
    }

    p{
        font-weight: 410;

        color: var(--subtitle-color);
    }
}

@mixin btnImgPickerSty{
    background-color: var(--subtitle-color); 

    border: 1px solid var(--solitude-color);
    border-radius: 50%;

    cursor: pointer;

    opacity: 0.5;
}

@mixin animObjShake{

    animation: animShake 1.5s infinite ease-in-out;

    @keyframes animShake{
        50%{
            transform: translateY(-10%);
        }
    }
}
