
/* MIXIN _PADDING-CONTENT-BOX */
@mixin stylePaddingBox($gapvalue){
    padding: 35px 50px 0 50px;
    
    gap: $gapvalue;
}

/* MIXIN _TITLE-DESCRIPTIONS (STYLES) */
@mixin styleTitleDesc{
    h4{
        font-size: 2rem;

        color: var(--text-dark);
    }

    p{
        font-weight: 410;

        color: var(--subtitle-color);
    }
}

/* MIXIN _BUTTON-IMAGE-PICKER (STYLES) */
@mixin btnImgPickerSty{
    background-color: var(--subtitle-color); 

    border: 1px solid var(--solitude-color);
    border-radius: 50%;

    cursor: pointer;

    opacity: 0.5;
}

/* MIXIN _ANIMATIONO-OBJECT-SHAKE (STYLES) */
@mixin animObjShake{

    animation: animShake 1.5s infinite ease-in-out;

    @keyframes animShake{
        50%{
            transform: translateY(-10%);
        }
    }
}
