
/* IMPORT MIXINS */
@import '../components/mixins';

/* _SECTION-COLORS */
#sec-colors{
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include titleDescSty;

    ul{
        list-style: none;
    }
}

/* _MODEL-COLORS-PICKER */
#model-colors-picker{
    height: 50px;

    ul{
        display: flex;
        align-items: center;

        gap: 20px;

        height: 100%;

        li{
            width: 36px;
            height: 36px;
        }
    }
}

/* INPUT-COLOR-PICKER */
.inp-color-picker{
    width: 100%;
    height: 100%;
}